<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>iamnearlythere.com</title>
  <meta name="description" content="iamnearlythere.com, a blog on software development">

  <link rel="canonical" href="https://iamnearlythere.com/">
  <link rel="alternate" type="application/rss+xml" title="iamnearlythere.com" href="/atom.xml">

  <link rel="stylesheet" href="/assets/tufte.css" />
  <link rel="stylesheet" href="/assets/chelmertz.css" />
</head>
<body>
  <script data-goatcounter="https://quepasa.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <header role="banner">
    <h1><a href="/">iamnearlythere.com</a></h1>
  </header>
  <main aria-label="Content">
    <div class="wrapper">
      <div class="home">
        <h2>projects</h2>
        <ul>
          <li><strong>elly</strong> — keeps track of what actions to take on open <em>github</em> pull requests (<a href="/elly-keeps-track-of-prs/">learnings</a>, <a href="https://github.com/chelmertz/elly">source</a>)</li>
          <li><strong>gitlab-mr-bot</strong> — keeps track of what actions to take on open <em>gitlab</em> merge requests (<a href="https://gitlab.com/chelmertz/gitlab-mr-bot">source</a>)</li>
          <li><strong>indentify</strong> — prettifies strings like compact toString()-ified java objects and json (<a href="https://github.com/chelmertz/dotfiles/blob/master/bin/indentify.js">source</a>)</li>
          <li><strong>serve</strong> — start http server for files in a directory, show QR code for ease of mobile testing (<a href="https://github.com/chelmertz/serve">source</a>)</li>
          <li><strong>track hours</strong> — actively polling for certain processes to mark that minute as having worked (<a href="https://gitlab.com/chelmertz/track_hours">source</a>)</li>
          <li><strong>pokeshadow</strong> — guess pokemon based on silhouette (<a href="https://wonderwizard.itch.io/pokeshadow">pokeshadow on itch.io</a>, <a href="https://iamnearlythere.com/pokeshadow/">blog post</a>, <a href="https://github.com/chelmertz/pokeshadow">source</a>)</li>
          <li><strong>picture-this</strong> — generates image placeholders (<a href="/mini-project-placeholder-image-generator-php">blog post</a>, <a href="https://github.com/chelmertz/picture-this">source</a>)</li>
          <li><strong>i-got-issues</strong> — display your submitted issues in your own projects, a.k.a. todos (<a href="/i-got-issues-manage-project-todos-github">blog post</a>, <a href="https://github.com/chelmertz/i-got-issues">source</a>)</li>
        </ul>{{range .Years}}

        <h3 class="year">{{.}}</h3>
        <ul class="post-list">{{range index $.PostsByYear .}}
          <li>
            <a class="post-link" href="/{{.Permalink}}/">{{.Title}}</a>
            <span class="post-meta">{{.PublishedFriendly}}</span>
          </li>{{end}}
        </ul>{{end}}
        <p class="rss-subscribe">subscribe <a href="/atom.xml">to Atom feed</a></p>
      </div>
    </div>
  </main>
  <footer>
      <p>by Carl Helmertz — <a href="mailto:helmertz@gmail.com">helmertz@gmail.com</a><br/><a href="https://helmertz.com">https://helmertz.com</a> <a href="https://github.com/chelmertz">github.com/chelmertz</a></p>
  </footer>
</body>
</html>
