<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <p>
    {% if site.author %}
    by {{ site.author | escape }}
    {% else %}
    {{ site.title | escape }}
    {% endif %}
    {% if site.email %}
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>, <a href="https://helmertz.com">https://helmertz.com</a>
    {% endif %}
    </p>

    {% if site.github_username %}
    <p>{% include icon-github.html username=site.github_username %}</p>
    {% endif %}
  
    {% if site.twitter_username %}
    {% include icon-twitter.html username=site.twitter_username %}
    {% endif %}
  
      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>

  </div>

</footer>
