:root {
    --accent: #000;
}

table {
    border: solid var(--accent);
    border-width: 4px 0 4px;
    border-collapse: collapse;
    width: 100%;

    thead tr th {
        border-bottom: 1px solid var(--accent);
        padding: 4px 0;
    }

    td {
        padding: 4px;
        vertical-align: top;
    }
}

video {
    max-width: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #fff;
    }
}

.post-meta {
    font-style: italic;
}

.post-list, .related-posts ul {
    list-style-type: none;
    padding: 0;
}

ul {
    padding-left: 1em;
    ul, li {
        /* I use too many nested lists. render list items as paragraphs instead, to avoid a vertical breakout-pattern */
        padding-left: 0;
    }
}

li {
    margin-bottom: 1em;
    >ul {
        margin-top: 1em;
        /* I use too many nested lists. render list items as paragraphs instead, to avoid a vertical breakout-pattern */
        list-style-type: none;
    }
    >ol {
        margin-top: 1em;
    }
}

a[href*="youtube.com"]::after {
    content: "🎥";
}

a:link, .tufte-underline, .hover-tufte-underline:hover {
    background: none; /* tufte uses background for bottom border, and it sometimes clips if two lines are two tight */
    text-decoration: none;

    font-weight: bold;
    font-variant: small-caps;
}

a::after {
    content: " ◈";
    opacity: 0.3;
}

a:hover::after {
    opacity: 1;
}

/* undo all supercool styles */
h2 a::after {
    content: "";
}
h2 a:link {
    font-variant: inherit;
}

/* from https://www.w3.org/TR/predefined-counter-styles/#circled-decimal */
@counter-style circled-decimal {
    system: fixed 0;
    symbols: '\24EA' '\2460' '\2461' '\2462' '\2463' '\2464' '\2465' '\2466' '\2467' '\2468' '\2469' '\246A' '\246B' '\246C' '\246D' '\246E' '\246F' '\2470' '\2471' '\2472' '\2473' '\3251' '\3252' '\3253' '\3254' '\3255' '\3256' '\3257' '\3258' '\3259' '\325a' '\325b' '\325c' '\325d' '\325e' '\325f' '\32b1' '\32b2' '\32b3' '\32b4' '\32b5' '\32b6' '\32b7' '\32b8' '\32b9' '\32ba' '\32bb' '\32bc' '\32bd' '\32be' '\32bf';
    /* symbols: '⓪' '①' '②' '③' '④' '⑤' '⑥' '⑦' '⑧' '⑨' '⑩' '⑪' '⑫' '⑬' '⑭' '⑮' '⑯' '⑰' '⑱' '⑲' '⑳' '㉑' '㉒' '㉓' '㉔' '㉕' '㉖' '㉗' '㉘' '㉙' '㉚' '㉛' '㉜' '㉝' '㉞' '㉟' '㊱' '㊲' '㊳' '㊴' '㊵' '㊶' '㊷' '㊸' '㊹' '㊺' '㊻' '㊼' '㊽' '㊾' '㊿'; */
    suffix: ' ';
}

ol {
    list-style-type: circled-decimal;
}


body {
    font-family: georgia, "bitstream charter", "noto serif", baskerville, palatino, bookman, serif;
    hyphens: auto;

    /* undo tufte */
    margin: 0;
    width: initial;
    padding: 0;
}

main, header, footer>p {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

footer {
    margin-top: 2em;
    padding: 4px 0;
}

.year {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid var(--accent);
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 50%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}


/* tufte... urgh */
pre > code {
    width: inherit; /* tufte set this to 52.5%, unsure why, it's ugly */
}

section > ul {
    width: inherit; /* tufte set this to 50%, unsure why, it's ugly */
}

article {
    padding: 0;
}
