:root {
    --accent: #000;
}

table {
    border: solid var(--accent);
    border-width: 4px 0 4px;
    border-collapse: collapse;

    thead tr th {
        border-bottom: 1px solid var(--accent);
        padding: 4px 0;
    }

    td {
        padding: 4px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #fff;
    }
}

.post-meta {
    font-style: italic;
}

.post-list {
    list-style-type: none;
    padding: 0;
}
