---
layout: default
---

<div class="home">

  {{ content }}

  
        <section class="pull">
                <h2>projects</h2>
                <ul>
                        <li>elly — keeps track of what actions to take on open github pull requests (<a href="http://iamnearlythere.com/elly-keeps-track-of-prs/">learnings</a>, <a href="https://github.com/chelmertz/elly">source</a>)</li>
                        <li>indentify — prettifies strings like compact toString()-ified java objects and sometimes json (<a href="https://github.com/chelmertz/dotfiles/blob/master/bin/indentify.js">source</a>)</li>
                </ul>
        </section>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/atom.xml" | relative_url }}">to Atom feed</a></p>

</div>
