---
layout: default
---

<div class="home">

  {{ content }}

  <h2>projects</h2>
  <ul>
    <li><strong>elly</strong> — keeps track of what actions to take on open <em>github</em> pull requests (<a href="/elly-keeps-track-of-prs/">learnings</a>, <a href="https://github.com/chelmertz/elly">source</a>)</li>
    <li><strong>gitlab-mr-bot</strong> — keeps track of what actions to take on open <em>gitlab</em> merge requests (<a href="https://gitlab.com/chelmertz/gitlab-mr-bot">source</a>)</li>
    <li><strong>indentify</strong> — prettifies strings like compact toString()-ified java objects and sometimes json (<a href="https://github.com/chelmertz/dotfiles/blob/master/bin/indentify.js">source</a>)</li>
    <li><strong>serve</strong> — start http server for files in a directory, show QR code for ease of mobile testing (<a href="https://github.com/chelmertz/serve">source</a>)</li>
    <li><strong>track hours</strong> — actively polling for certain processes to mark that minute as having worked (<a href="https://gitlab.com/chelmertz/track_hours">source</a>)</li>
  </ul>

  <h2>posts</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/atom.xml" | relative_url }}">to Atom feed</a></p>

</div>
